footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  font-family: "Georgia", serif;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.container_icon {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 1em;
}

.social_icon {
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social_icon {
  filter: grayscale(100%);
}

.social_icon:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}
